doctype
html
  head
    title Flags of the World!
    link(rel="stylesheet", href="/vender/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
  body(ng-app="app")
    h1 Flags of the World Quiz App!
    block main-content
    include scripts